/* Navbar inferior fijo */
nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 64px;
  background-color: #000000; /* fondo rojo */
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.15);
  z-index: 100;
}

/* Íconos del navbar */
.nav-icon {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
}

.nav-icon img {
  width: 20px;
  height: 20px;
  filter: brightness(0) invert(1); /* convierte el icono en blanco */
}

.nav-icon:hover {
  background-color: #ffffff36;
}
